[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autoflake = "==1.4"
isort = "==5.9.2"
black = "==21.6b0"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.8"
